<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>MVC Email App</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <main>
        <h1>{{title}}</h1>
        {{{body}}}
    </main>
    <script src="js/scripts.js"></script>
</body>

</html>