<h1>Add Product Form</h1>
<!--Make sure action is our post route and method is POST-->
<!--Make sure they all have a name because this is how we access it
Make sure submit button at the end of the form exists-->
<form method = "POST" action = "/product/add">

    <label for = "title">Title</label>
    <input type = "text" id = "title" name = "firsttitleName"><br>
    
    <label for = "price">Price</label>
    <input type = "text" id = "price" name = "price"><br>

    <label for = "description">Description</label>
    <textarea id = "description" name = "description"></textarea><br>
     
     <input type = "submit" value = "Contact Us">

</form>